:root {
}

body {
  --game_size: 600px;
  --game_fill_size: calc(var(--game_size) - 60%);
  --color_margin: calc(var(--game_size) - 95%);
  --color_size: calc(var(--game_size) / 2 - var(--color_margin));

  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  
  background: #191507;
  text-align: center;
}

#game {
  background: #a8a8a8;
  border-radius: 100%;
  box-shadow: inset 5px 5px 10px #777777, 3px 3px 8px #cecece, 1px 1px 3px #dbdbdb;
  height: var(--game_size);
  margin: auto;
  margin-top: 2.5%;
  overflow: hidden;
  position: relative;
  width: var(--game_size);
}

.color_button {
  box-shadow: inset 2px 2px 2px black, 2px 2px 2px black;
  cursor: pointer;
  height: var(--color_size);
  width: var(--color_size);
}

#green {
  background: green;
  border-top-left-radius: 100%;
  float: left;
  margin-top: var(--color_margin);
  margin-left: var(--color_margin);
  position: relative;
}

#red {
  background: red;
  border-top-right-radius: 100%;
  float: right;
  margin-top: var(--color_margin);
  margin-right: var(--color_margin);
  position: relative;
}

#yellow {
  background: yellow;
  border-bottom-left-radius: 100%;
  float: left;
  margin-bottom: var(--color_margin);
  margin-left: var(--color_margin);
  position: relative;
}

#blue {
  background: blue;
  border-bottom-right-radius: 100%;
  float: right;
  margin-bottom: var(--color_margin);
  margin-right: var(--color_margin);
  position: relative;
}

#game_fill {
  background: #a8a8a8;
  border-radius: 100%;
  box-shadow: inset 5px 5px 10px #777777, 3px 3px 8px #cecece, 1px 1px 3px #dbdbdb;
  height: var(--game_fill_size);
  margin: auto;
  margin-top: 30%;
  width: var(--game_fill_size);
  position: relative;
  z-index: 5;
}

button {
  padding: 1px;
  top: 25%;
  width: 15%;
}

.center-absolute {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
}

#start {
  min-width: 3em;
}

#restart {
  display: none;
  min-width: 4em;
}

#round {
  cursor: default;
  font-size: 48pt;
  position: absolute;
  top: 40%;
}

#strict_button {
  background: #444444;
  border-radius: 25%;
  cursor: pointer;
  left: 0;
  margin: auto;
  min-width: 4em;
  position: absolute;
  right: 0;
  top: 75%;
  width: 30%;
}

#strict_button:hover {
  background: #262626;
}

#strict_button label {
  background: gray;
  border-radius: 25%;
  cursor: pointer;
  display: block;
  font-size: 16pt;
  height: 90%;
  margin: auto;
  margin-top: 2.5%;
  width: 90%;
}

#strict_button input[type=checkbox]:checked + label {
  background: #ba3a28;
}

#strict_text + input:checked {
  background: cyan;
}

input[type=checkbox] {
  display: none;
}
